.container {
    max-width: 730px;
}

.center {
    text-align: center;
}

$chatheight: 300px;

.chatarea {
    position: relative;
    height: $chatheight;

    // textarea {
    //     border: none;
    //     text-align: center;
    //     background: transparent;
    //     resize: none;
    //     overflow: hidden;
    // }

    .overlay {

        z-index: 2;
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 20%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(20%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 20%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 20%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 20%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 20%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-8 */
    }

    textarea, .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: $chatheight;
    }

    #received {
        text-align: center;
        p {
            text-align: center;
            padding: 0;
            margin: 0;
        }

        .admin_msg {
            font-weight: bold;
            padding: 0.2em 0;
            font-size: 1.2em;
            
            
        }
        
        .leftchatbubble {
                
            margin-right: 20%;
            margin-bottom: 5px;
            text-align: left;
            
            span {
                display: inline-block;
                font-weight: normal;
                background-color: #ccc;
                color: #000;
                border-radius: 10px;
                padding: 2px 10px;
                
            }
        }
        
        .rightchatbubble {
            
            margin-left: 20%;
            margin-bottom: 5px;
            text-align: right;
            
            span {
                display: inline-block;
                font-weight: normal;
                background-color: #5BC236;
                color: #fff;
                border-radius: 10px;
                padding: 2px 10px;
            }
            
        }

        table.poll_results {
            text-align: center;
            width: 100%;

            tr.labels td {
                font-size: 5em;
                font-weight: bold;
            }

            tr.percents td {
                font-size: 6em;
                font-weight: bold;
            }

            &.total_3 {
                tr.labels td {
                    font-size: 4em;
                }

                tr.percents td {
                    font-size: 5em;
                }
            }

            &.total_4 {
                tr.labels td {
                    font-size: 4em;
                }

                tr.percents td {
                    font-size: 5em;
                }
            }

            &.total_5 {
                tr.labels td {
                    font-size: 1.5em;
                }

                tr.percents td {
                    font-size: 1.5em;
                }
            }

            &.total_6, &.total_7, &.total_8, &.total_9,
            &.total_10, &.total_11, &.total_12 {
                tr.labels td {
                    font-size: 2em;
                }

                tr.percents td {
                    font-size: 2em;
                }
            }
        }
    }

}

.inputarea {
    padding: 20px 0 50px 0;
    #submit {
        //display: none;
    }

    #text {
        width: 100%;
        text-align: center;
    }
}


.container.admin {
    button.mode {
        width: 26%;
        margin-right: 1em;

        &:last-child {
            margin-right: 0;
        }


    }



    .chatarea {
        border: 1px solid #ccc;
    }
}
